body {
}

.badInput {
  background-color: red;
}

.container {
  max-width: 40rem;
}

.submitForm {
  display: flex;
  flex-direction: column;
}

.art {
  font-family: 'Courier New', monospace;
  white-space: pre;
}

.artInput {
  min-height: 8em;
  overflow-x: auto;
}

.gallery {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  .art {
    margin: .1rem;
    border: 2px solid grey;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
    overflow: hidden;
    width: 4rem;
  }
}